/.cask/
/history
/snippets/Es6-React-Snippets-Emacs
/snippets/js2-mode
auto-save-list/
auto-save-list/
es6-snippets
snippets/rhtml-mode/
snippets/rjsx-mode/
snippets/web-mode
/.DS_Store
/bookmarks
recentf
ido.last